<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.s3.mapper.HoteventsMapper">
    <insert id="add1">
        update hotevents set searchSum = searchSum+1  where id=#{id};
    </insert>

    <select id="getPage" resultType="com.s3.pojo.Hotevents">
    select *
      from hotevents
      <where>
          <if test="keyWord!=null and keyWord!=''">
              keyWord like concat('%',#{keyWord},'%')
          </if>
      </where>
        order by createDate desc
      limit #{form},#{pageSize}
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        select count(*)
        from hotevents
        <where>
            <if test="keyWord!=null and keyWord!=''">
                keyWord like concat('%',#{keyWord},'%')
            </if>
        </where>
    </select>
    <select id="getById" resultType="com.s3.pojo.Hotevents">
        select * from hotevents
        where id=#{id}
    </select>
</mapper>